{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-3 pb-md-3 mx-auto text-center">
    <h1 class="display-4">Skystore
        <div class="float-end">
            <a type="button" class="btn btn-lg btn-block btn-outline-success" href="{% url 'catalog:create_product' %}">
                Добавить новый продукт
            </a>
        </div>
    </h1>

    <p class="lead">{{ title }}</p>
</div>
<form method="post" action="" class="form-floating">
    {% csrf_token %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for product in products_with_versions %}
            <div class="col">
                <div class="card h-100 border-0 shadow">
                    <div class="card-header bg-primary text-white">
                        <h5 class="my-0 font-weight-bold">{{ product.product_name|title }}</h5>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">$ {{ product.price }}</h2>
                        <ul class="list-unstyled mt-3 mb-4">
                            {% for version in product.versionproduct_set.all %}
                            <li><strong>
                                Версия:
                            </strong>
                                {{ version.number_of_version }} - {{ version.name_of_versions }}
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="text-center">
                            <a type="button" class="btn btn-primary btn-sm mb-2"
                               href="{% url 'catalog:product' product.pk %}">Подробнее</a>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        <div class="d-flex justify-content-between">
                            {% if perms.catalog.cancel_product %}
                            {% if product.is_active %}
                            <a type="button" class="btn btn-outline-success btn-sm"
                               href="{% url 'catalog:toggle_activity' model='Product' pk=product.pk %}">Опубликован</a>
                            {% else %}
                            <a type="button" class="btn btn-sm btn-warning me-2"
                               href="{% url 'catalog:toggle_activity' model='Product' pk=product.pk %}">Нужна
                                модерация</a>
                            {% endif %}
                            {% endif %}
                            {% if user == product.owner or perms.catalog.change_product_description %}
                            <a type="button" class="btn btn-outline-warning btn-sm"
                               href="{% url 'catalog:update_product' product.pk %}">Изменить</a>
                            {% endif %}
                            {% if user == product.owner or user.is_superuser %}
                            <a type="button" class="btn btn-outline-danger btn-sm"
                               href="{% url 'catalog:delete_product' product.pk %}">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}